<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE boost_serialization>
<boost_serialization signature="serialization::archive" version="9">
<AllClientInfo class_id="0" tracking_level="0" version="0">
	<count>16</count>
	<item_version>0</item_version>
	<item class_id="1" tracking_level="0" version="0">
		<UserName>W</UserName>
		<UserPassWord>W</UserPassWord>
		<UserPhoto>Catch00007.jpg</UserPhoto>
	</item>
	<item>
		<UserName>q</UserName>
		<UserPassWord>q</UserPassWord>
		<UserPhoto>Catch00007.jpg</UserPhoto>
	</item>
	<item>
		<UserName>y</UserName>
		<UserPassWord>y</UserPassWord>
		<UserPhoto>Catch00007.jpg</UserPhoto>
	</item>
	<item>
		<UserName>u</UserName>
		<UserPassWord>u</UserPassWord>
		<UserPhoto>Catch00007.jpg</UserPhoto>
	</item>
	<item>
		<UserName>g</UserName>
		<UserPassWord>g</UserPassWord>
		<UserPhoto>Catch00014.jpg</UserPhoto>
	</item>
	<item>
		<UserName>f</UserName>
		<UserPassWord>f</UserPassWord>
		<UserPhoto>Catch00007.jpg</UserPhoto>
	</item>
	<item>
		<UserName>w</UserName>
		<UserPassWord>w</UserPassWord>
		<UserPhoto>Catch00020.jpg</UserPhoto>
	</item>
	<item>
		<UserName>a</UserName>
		<UserPassWord>a</UserPassWord>
		<UserPhoto>Catch00018.jpg</UserPhoto>
	</item>
	<item>
		<UserName>b</UserName>
		<UserPassWord>b</UserPassWord>
		<UserPhoto>Catch00026.jpg</UserPhoto>
	</item>
	<item>
		<UserName>c</UserName>
		<UserPassWord>c</UserPassWord>
		<UserPhoto>Catch00028.jpg</UserPhoto>
	</item>
	<item>
		<UserName>d</UserName>
		<UserPassWord>d</UserPassWord>
		<UserPhoto>Catch00029.jpg</UserPhoto>
	</item>
	<item>
		<UserName>h</UserName>
		<UserPassWord>h</UserPassWord>
		<UserPhoto>Catch300016.jpg</UserPhoto>
	</item>
	<item>
		<UserName>1</UserName>
		<UserPassWord>1</UserPassWord>
		<UserPhoto>dongwu220.jpg</UserPhoto>
	</item>
	<item>
		<UserName>2</UserName>
		<UserPassWord>2</UserPassWord>
		<UserPhoto>Catch500004.jpg</UserPhoto>
	</item>
	<item>
		<UserName>3</UserName>
		<UserPassWord>3</UserPassWord>
		<UserPhoto>dongwu197.jpg</UserPhoto>
	</item>
	<item>
		<UserName>4</UserName>
		<UserPassWord>4</UserPassWord>
		<UserPhoto>dongwu197.jpg</UserPhoto>
	</item>
</AllClientInfo>
